# Assigning variables

In [2]:
print('Hello World')

Hello World

In [5]:
pi = 3.14159265359    # decimal
name = 'Philipp'      # text
age = 31              # integer
sky_is_blue = True    # boolean

In [4]:
print(pi)

3.14159265359

## Packing multiple assignments on one line

In [6]:
x, y = 10, 5
print(x)

10

In [7]:
print(y)

5

## Re-assigning (Updating the variable)

In [8]:
pi = 'Philipp'
print(pi)

Philipp

In [9]:
x, y = y, x

In [10]:
x

5

## Using non-defined variables will raise a NameError

In [11]:
print(non_existent_variable)

NameError: name 'non_existent_variable' is not defined

## Tips - other ways to define value

In [13]:
ten_millions = 10_000_000
ten_millions

10000000

In [14]:
small = .25
small

0.25

In [15]:
sci_thousand = 10e2
sci_thousand

1000.0

# Naming the variable

1. No keywords and operator symbols (class, def, for, ..., +, -, @, etc)
2. No whitespace
2. Cannot start with number

In [1]:
counter = 0
pricey_car = 'Mercedes'
income = 120_000

In [2]:
class = 'Mercedes'

SyntaxError: invalid syntax (<ipython-input-2-2daee69c2fcb>, line 1)

In [3]:
pricey@@car

SyntaxError: invalid syntax (<ipython-input-3-ffd8cc768d68>, line 1)

In [4]:
1y_income = 120_000

SyntaxError: invalid syntax (<ipython-input-4-2b923f9c6b91>, line 1)

# Data types

In [17]:
pi = 3.14159265359    # reassing it back
type(pi)

float

In [18]:
type(name)

str

In [20]:
type(age)

int

In [19]:
type(sky_is_blue)

bool

## Floats and Integers

In [21]:
A = 6
B = 5

In [22]:
A + B

11

In [23]:
A - B

1

In [24]:
A / B

1.2

In [25]:
A * B

30

**Exponent**

In [26]:
2**3

8

In [27]:
3**2

9

**Integer division**

In [28]:
10 / 2

5.0

In [87]:
9 // 4  # way faster

2

In [88]:
10.0 // 4
2.0

2.0

**Reminer**

In [89]:
10 % 3

1

## Self-assignment

In [79]:
count = 0

In [80]:
count +=1
count

1

In [81]:
count -=1
count

0

In [82]:
count +=1
count *=2
count

2

In [83]:
count **= 2
count

4

In [84]:
count /=2
count

2.0

In [85]:
count //= 2
count

1.0

In [86]:
10.0 // 4

2.0

## Order of operations

In [90]:
(2 + 10) / 2

6.0

In [91]:
10 / (1 + 1)

5.0

# Strings

In [93]:
text1 = 'This is a so-called “speakeasy”'

In [94]:
text2 = "This is Sam’s Tavern"

In [95]:
text3 = ''' This is Sam’s Tavern.
"Welcome everyone!" - is written on the door.
'''

In [96]:
print('Hello\nWorld!')

Hello
World!

## Operators

In [97]:
'Hello ' + 'World'

'Hello World'

In [98]:
'Hello' * 3

'HelloHelloHello'

## Methods

In [99]:
'Hello World'.upper()

'HELLO WORLD'

In [100]:
'Hello World'.lower()

'hello world'

In [101]:
'hello world'.title()

'Hello World'

In [102]:
'Hello world'.replace('world', 'planet')

'Hello planet'

## Formatting

In [106]:
'hello'.rjust(10, ' ')

'     hello'

In [107]:
'hello'.ljust(10, ' ')

'hello     '

In [108]:
'999'.zfill(10)

'0000000999'

**Format method**

In [110]:
'Hello {} world and our blue {}'.format('beautiful','planet')

'Hello beautiful world and our blue planet'

In [111]:
'{0} {2} {1} and our {2} {3}!'.format('Hello','World','Beautiful', 'Planet')

'Hello Beautiful World and our Beautiful Planet!'

In [114]:
'Hello {adj} world!'.format(adj='beautiful')

'Hello beautiful world!'

**F-strings**

In [116]:
adj = 'beautiful'
f'Hello {adj} world!'

'Hello beautiful world!'

In [118]:
name = 'pHILIPP'
f'Hello mr {name.title()}'

'Hello mr Philipp'

**Legacy formatting (do not use)**

In [119]:
name = 'David'
print('Hello mr. %s' % name)

Hello mr. David

**Formatting mini-language**

In [121]:
pct = .345
value = 45500
f'Price grew by {pct:.1%} or {value:,}'

'Price grew by 34.5% or 45,500'

[Formatting mini-language link](https://docs.python.org/3/library/string.html#formatspec)

## String as iterable

In [47]:
"Hello World"[0]

'H'

In [48]:
"Hello World"[0:5]

'Hello'

In [50]:
"World" in "Hello World!"

True

In [51]:
"Planet" in "Hello World!"

False

# Boolean

In [122]:
'World' == 'World'

True

In [123]:
pi == pi

True

In [124]:
"World" in "Hello World!"

True

In [125]:
pi != pi

False

## Logical operators

In [130]:
not (5 > 4)

False

In [131]:
(5 > 4) | (6 < 5)

True

In [132]:
(5 > 4) & (6 < 5)

False

In [133]:
(5 > 4) ^ (5 < 6)

False

# Conversion

In [66]:
float("2.5")

2.5

In [67]:
int("45")

45

In [68]:
int(4.521)

4

In [69]:
float(5)

5.0

In [70]:
int(True)

1

In [71]:
float(False)

0.0

In [134]:
str(True)

'True'

In [72]:
bool(0)

False

In [73]:
bool('Hello')

True

In [74]:
bool(115.5)

True

**Can't convert**

In [135]:
int("2.5")

ValueError: invalid literal for int() with base 10: '2.5'

In [136]:
int("Hello")

ValueError: invalid literal for int() with base 10: 'Hello'

# Practice

In [1]:
CONST = 32
RATIO = 5/9

T_f = 100

In [3]:
T_c = (T_f - CONST) * RATIO
T_c

37.77777777777778

In [4]:
T_f2 = (T_c / RATIO) + CONST
T_f2

100.0

In [6]:
T_f = 70
T_c = (T_f - CONST) * RATIO
T_c

21.11111111111111

## Calculate main costs

In [140]:
total_travel = people * plane_ticket_pp
total_hotel = hotel_price_day * days
total_meal = 3 * days * people
total = total_travel + total_hotel + total_meal

## Check if they exceeded our budget

In [141]:
exceeded = total > total_budget
exceeded

False

## Generate report

In [143]:
report = f'Estimated travel price is ${total:,} and represents {(total / total_budget):%} of existing travel budget.\nEstimate exceeds travel budget: {exceeded}.'
print(report)

Estimated travel price is $997 and represents 99.700000% of existing travel budget.
Estimate exceeds travel budget: False.