# I. Compare Numpy to Vanila Python

In [2]:
A, B, C = [1,2,3,4,5]*1000, [2,3,4,5,6]*1000, [10,9,8,7,6]*1000

In [9]:
%timeit result = [sum(row) for row in zip(A,B,C)]

633 µs ± 13.8 µs per loop (mean ± std. dev. of 7 runs, 1000 loops each)

In [5]:
import numpy as np

Anp = np.array(A)
Bnp = np.array(B)
Cnp = np.array(C)

In [8]:
%timeit result2 = Anp + Bnp + Cnp

4.67 µs ± 22.4 ns per loop (mean ± std. dev. of 7 runs, 100000 loops each)

# II. Pandas

In [10]:
import pandas as pd

In [11]:
df = pd.read_csv('../Chapter06/geocoded.csv')

In [12]:
df.head(2)

,place_id,licence,osm_type,osm_id,boundingbox,lat,lon,display_name,class,type,importance,icon,name,population,country
0,756493,"Data © OpenStreetMap contributors, ODbL 1.0. h...",node,265018692,"['35.5228387', '35.8428387', '139.5994549', '1...",35.682839,139.759455,"東京, 千代田区, 東京都, 関東地方, 100-0002, 日本",place,city,0.789852,https://nominatim.openstreetmap.org/images/map...,Tokio,38.05,Japan
1,198969764,"Data © OpenStreetMap contributors, ODbL 1.0. h...",relation,6362934,"['-6.3744575', '-4.9993635', '106.3146732', '1...",-6.175394,106.827183,"JKT, Indonesia",place,city,0.654439,https://nominatim.openstreetmap.org/images/map...,Jakarta,32.27,Indonesia

In [14]:
print(f'There are {len(df)} cities in the file')

There are 10 cities in the file

In [15]:
eastern = df[df.lon > 0 ]

In [16]:
print(f'There are {len(eastern)} cities in the Eastern Hemisphere')

There are 8 cities in the Eastern Hemisphere

In [18]:
result = eastern.groupby('country').agg({'population':'mean', 'icon':'count'})
result.rename(columns={'icon':'cities'}, inplace=True)

In [21]:
result.to_string()

'             population  cities\ncountry                        \nChina           22.6825       2\nIndia           25.2725       2\nIndonesia       32.2700       1\nJapan           38.0500       1\nPhilipines      24.6500       1\nSouth Korea     24.2100       1'

In [20]:
result.to_csv('aggregation.csv')