In [1]:
import pandas as pd

### Selection - by column, columns, indices, or both

In [3]:
data = {'x':[1,2,3], 'y':['a', 'b', 'c'], 'z': [False, True, False]}
df = pd.DataFrame(data)

In [4]:
df

   x  y      z
0  1  a  False
1  2  b   True
2  3  c  False

In [5]:
df['x']

0    1
1    2
2    3
Name: x, dtype: int64

In [6]:
df[['x', 'y']]

   x  y
0  1  a
1  2  b
2  3  c

In [7]:
df.loc[[0,1], 'z']  # first two rows, column z

0    False
1     True
Name: z, dtype: bool

In [8]:
df['new_column'] = -1
df['new_column']

0   -1
1   -1
2   -1
Name: new_column, dtype: int64

In [9]:
df.iloc[-2:, 1:]

   y      z  new_column
1  b   True          -1
2  c  False          -1

### Masking

In [10]:
df[df['z']]

   x  y     z  new_column
1  2  b  True          -1

In [11]:
mask = df['x'] == 2
mask

0    False
1     True
2    False
Name: x, dtype: bool

In [12]:
df.loc[mask, 'y']

1    b
Name: y, dtype: object

### Math

In [14]:
N = pd.Series([1,2,3,10])

In [15]:
N.mean()

4.0

In [16]:
N.median()

2.5

In [17]:
N.sum()

16

In [18]:
N.max()

10

### Merging

In [19]:
df.shape

(3, 4)

In [20]:
double = pd.concat([df, df], axis=0, sort=False)

In [21]:
double.shape

(6, 4)

In [22]:
pd.concat([df, df], axis=1)

   x  y      z  new_column  x  y      z  new_column
0  1  a  False          -1  1  a  False          -1
1  2  b   True          -1  2  b   True          -1
2  3  c  False          -1  3  c  False          -1

In [23]:
df.merge(df.head(2), on='y', how='left')

   x_x  y    z_x  new_column_x  x_y    z_y  new_column_y
0    1  a  False            -1  1.0  False          -1.0
1    2  b   True            -1  2.0   True          -1.0
2    3  c  False            -1  NaN    NaN           NaN